body {
	padding-top: 4rem;
	padding-bottom: 1rem;
	height: 100vh;
	background: url('../img/background.jpg') fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* The Container (background) */
.container {
	padding: 1!important;
	background-color: rgba(255,255,255, 0.85); /* Black w/ opacity */
}

.container > h1 {
	font-size: 28px;
	padding: 10px 0px 10px 0px;	
	border-bottom: 1px solid #ccc;
}

/* The Modal (background) */
.modal {
	padding: 0!important;
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	border: 1px solid #888;
    margin: 0 auto;	
}

.modal-header, .close {
	background-color: #084d6e;
    color: white;
	border-radius: 2% 2% 0% 0%;	
}

.close {
	font-size: 35px;
	font-weight: bold;	
}

.close:hover, .close:focus {
	color: red;
}

.modal-footer {
	background-color: #f1f1f1;
	border-radius: 0% 0% 2% 2%;	
}

.form-group > input, .form-group > select {
	*border: 0px;
	*border-bottom: 1px solid #777;
	*border-radius: 0%;
}

/* dataTables */
td.details-control {
    cursor: pointer;
}

td.add-control {
    background: url('../img/add-control.png') no-repeat center center;
    cursor: pointer;
}

/* tr.shown td.remove-control { */
td.remove-control {
    background: url('../img/remove-control.png') no-repeat center center;
    cursor: pointer;
}