<form role="form" class="container">
	<input type='hidden' name='idacao_indicador'>
	<input type='hidden' name='idacao'>
	<div class='form-group'>
		<label for='indicador'>Indicador</label>
		<div id='div-indicador'>
			<select class='form-control selectpicker' id='idindicador' name='idindicador' data-live-search='true' required></select>
		</div>
	</div>
	<div class="form-group">
		<label>Quantidade</label>
		<input type="number" class="form-control" name="quantidade" placeholder="Digite a quantidade">
	</div>
</form>
<script type="text/javascript">
	//Listar indicadores
	//Select Picker para indicador
	var selectindicador = $('select[name="idindicador"]');
	$.ajax({
		type: 'POST',
		url: url+ "/api.php",
		data: {classe: "indicador", metodo: "obterTodos", token: token},
		success: function(result) {	
			if ( ! result.data ) result.data = [];
			$.each( result.data, function(index, element) {
				selectindicador.append( $('<option>', {value: element.idindicador, text: element.indicador}) );
			});

			selectindicador.html(selectindicador.find('option').sort(function(x, y) {
				// to descending order switch "<" for ">"
				return $(x).text() > $(y).text() ? 1 : -1;
			}));

			if (data) selectindicador.val(data.idindicador);
			else selectindicador.val(null);	

			selectindicador.selectpicker();				
		}
	});

	$('form').submit(function(){
		var formData = $(this).serializeArray();
		formData.push({name: 'classe', value: 'acao_indicador'});
		formData.push({name: 'metodo', value: 'salvar'});
		formData.push({name: 'token', value: token});
		$.ajax({
			type: 'POST',
			url: url+'/api.php',
			data: formData,
			success: function(result) {	
				if ( result.error ) {
					alert(result.error);
				} else {
					console.log(result);
					$('input[name="idindicador"]').val(result.idindicador);
					alert('Grupo de Indicador ID '+result.idindicador+' gravado!');
					datatable.ajax.reload(null, false);
				}
			}
		});
		return false;
	});
</script>