<h1>
Cadastrar Indicador da Ação
</h1>
<form role="form" class="container">
	<input type='hidden' name='idacao_indicador'>
	<input type='hidden' name='idacao'>
	<div class='form-group'>
		<label for='indicador'>Indicador</label>
		<div id='div-indicador'>
			<select class='form-control selectpicker' id='idindicador' name='idindicador' data-live-search='true' required></select>
		</div>
	</div>
	<div class="form-group">
		<label>Quantidade</label>
		<input type="number" class="form-control" name="quantidade" placeholder="Digite a quantidade">
	</div>
</form>
<script type="text/javascript" src="js/acao-indicador-form.js"></script>