<form role="form" class="container">
	<input type='hidden' name='idacao_recurso'>
    <input type='hidden' name='idacao'>
    <label for='idrecurso'>Recurso:</label>
	<div id='div-recurso'>
		<select class='form-control selectpicker' id='idrecurso' name='idrecurso' data-live-search='true' required></select>
	</div>

    <input type='hidden' name='idrecurso'>
	<div class="form-group">
		<label>Quantidade</label>
		<input type="number" class="form-control" name="quantidade" placeholder="Digite a quantidade">
    </div>    
</form>
<script type="text/javascript" src="js/acao-recurso-form.js"></script>
</form>

