<div class="modal-header">
	<h4 class='modal-title'></h4>
	<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">&times;</button>
</div>
<div class="modal-body">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="detalhes-tab" data-toggle="tab" href="#detalhes" role="tab" aria-controls="detalhes" aria-selected="true">Detalhes</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="local-tab" data-toggle="tab" href="#local" role="tab" aria-controls="local" aria-selected="false">Local</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="denunciados-tab" data-toggle="tab" href="#denunciados" role="tab" aria-controls="denunciados" aria-selected="false">Denunciados</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="situacao-tab" data-toggle="tab" href="#situacao" role="tab" aria-controls="situacao" aria-selected="false">Situação</a>
		</li>
	</ul>

	<style>
		.tab-pane { padding: 10px; }
		#map { width: 100%; height: 300px; }
	</style>

	<div class="tab-content border-bottom border-left border-right" id="myTabContent">
		<!-- Detalhes -->
		<div class="tab-pane fade show active" id="detalhes" role="tabpanel" aria-labelledby="detalhes-tab">
			<form id='form-detalhes'>
				<input type='hidden' name='iddenuncia'>
				<textarea class='form-control' name='denuncia' rows=5 required></textarea>
				<label>Natureza</label>
				<select class='form-control selectpicker' id='idnatureza' name='idnatureza' data-live-search='true' required></select>
				<hr>
				<button class='btn btn-success' type='submit' id='btn-salvar-detalhes'>Salvar</button>			
			</form>
		</div>

		<!-- Local -->
		<div class="tab-pane fade" id="local" role="tabpanel" aria-labelledby="local-tab">
			<div id="map"></div>
			<hr>
			<form id='form-local'>
				<input type='hidden' name='iddenuncia'>
				<input type='hidden' name='type'>
				<input type='hidden' name='placename'>
				<input type='hidden' name='address'>
				<input type='hidden' name='district'>
				<input type='hidden' name='city'>
				<input type='hidden' name='region'>
				<input type='hidden' name='postal'>
				<input type='hidden' name='lat'>
				<input type='hidden' name='lng'>
				<button class='btn btn-success' type='submit' id='btn-salvar-local'>Salvar</button>			
			</form>
		</div>
		
		<!-- Denunciados -->
		<div class="tab-pane fade" id="denunciados" role="tabpanel" aria-labelledby="denunciados-tab">
			<table id="datatable-denunciados" class="table table-striped" style="width:100%">
				<thead class='thead-dark'>
					<tr>
						<th>ID</th>
						<th>Denunciados</th>
					</tr>
				</thead>
			</table>
			<br />

			<div class='container bg-light border' id='cadastro-denunciados'>
				<h1>
					<button class="btn btn-primary float-right" id="btn-novo-denunciado">Novo</button>
					Cadastro de denunciados
				</h1>
				<table id="datatable-outros-denunciados" class="display compact" style="width:100%">
					<thead class='thead-dark'>
						<tr>
							<th>ID</th>
							<th>Denunciado</th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>

			<form class='container bg-light border' id='form-denunciado'>
				<h1>
					<button class="btn btn-primary float-right" type='button' id="btn-pesquisar-denunciados">Pesquisar</button>
					<span class='title'></span>
				</h1>
				<input type='hidden' name='iddenunciado'>
				<input type='hidden' name='iddenuncia'>
				<div class='row'>
					<div class='col-sm-8'>
						<label>Nome</label>
						<input type='text' class='form-control' name='nome' required>
					</div>
					<div class='col-sm-4'>
						<label>Apelido</label>
						<input type='text' class='form-control' name='apelido'>
					</div>
				</div>
				<div class='row'>
					<div class='col-sm-4'>
						<label>Sexo</label>
						<select class='form-control' name='sexo'>
							<option>NÃO INFORMADO</option>
							<option>MASCULINO</option>
							<option>FEMININO</option>
						</select>
					</div>
					<div class='col-sm-4'>
						<label>Faixa etária</label>
						<select class='form-control' name='faixa_etaria'>
							<option>NÃO INFORMADO</option>
							<option>MENOR DE 18</option>
							<option>ENTRE 18 E 20</option>
							<option>ENTRE 20 E 30</option>
							<option>ENTRE 30 E 45</option>
							<option>ENTRE 45 E 60</option>
							<option>MAIS DE 60</option>
						</select>
					</div>
					<div class='col-sm-4'>
						<label>Altura</label>
						<select class='form-control' name='altura'>
							<option>NÃO INFORMADO</option>
							<option>MENOS DE 1.60</option>
							<option>ENTRE 1.60 E 1.70</option>
							<option>ENTRE 1.70 E 1.80</option>
							<option>ENTRE 1.80 E 2.00</option>
							<option>MAIS DE 2.00</option>
						</select>
					</div>
				</div>
				<div class='row'>
					<div class='col-sm-4'>
						<label>Cutis</label>
						<select class='form-control' name='cutis'>
							<option>NÃO INFORMADA</option>
							<option>BRANCA</option>
							<option>AMARELA</option>
							<option>PARDA</option>
							<option>NEGRA</option>
						</select>
					</div>
					<div class='col-sm-4'>
						<label>Compleição</label>
						<select class='form-control' name='compleicao'>
							<option>NÃO INFORMADO</option>
							<option>FRACO</option>
							<option>MAGRO</option>
							<option>FORTE</option>
							<option>GORDO</option>
						</select>
					</div>
					<div class='col-sm-4'>
						<label>Cor dos olhos</label>
						<select class='form-control' name='cor_olhos'>
							<option>NÃO INFORMADO</option>
							<option>PRETOS</option>
							<option>CASTANHOS</option>
							<option>VERDES</option>
							<option>AZUIS</option>
						</select>
					</div>
				</div>
				<div class='row'>
					<div class='col-sm-6'>
						<label>Cabelos</label>
						<select class='form-control' name='tipo_cabelo'>
							<option>NÃO INFORMADO</option>
							<option>LISOS</option>
							<option>ONDULADOS</option>
							<option>CRESPOS</option>
							<option>CALVO</option>
							<option>CARECA</option>
						</select>
					</div>
					<div class='col-sm-6'>
						<label>Cor dos cabelos</label>
						<select class='form-control' name='cor_cabelo'>
							<option>NÃO INFORMADO</option>
							<option>PRETOS</option>
							<option>CASTANHOS</option>
							<option>LOIROS</option>
							<option>GRISALHOS</option>
						</select>
					</div>
				</div>
				<hr>
				<div style='margin-bottom: 10px'>
					<button class='btn btn-success' type='submit' id='btn-salvar-denunciado'>Salvar</button>
					<button class='btn btn-danger' type='button' id='btn-excluir-denunciado'>Excluir</button>
				</div>
			</form>
		</div>

		<!-- Situação -->
		<div class="tab-pane fade" id="situacao" role="tabpanel" aria-labelledby="situacao-tab">
			...
		</div>
	</div>
</div>

<script src='js/avaliacao-denuncia-form.js'></script>