<div class="modal-header">
	<h4 class='modal-title'></h4>
	<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">&times;</button>
</div>
	<div class="modal-body">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="acao-tab" data-toggle="tab" href="#acao" role="tab" aria-controls="acao" data-url="partial/acao-indicador-form.html" aria-selected="true">Ação</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="indicador-tab" data-toggle="tab" href="#indicador" role="tab" aria-controls="indicador" aria-selected="false" >Indicador</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="instituicao-tab" data-toggle="tab" href="#instituicao" role="tab" aria-controls="instituicao" aria-selected="false" >Instituição</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="ocorrencia-tab" data-toggle="tab" href="#ocorrencia" role="tab" aria-controls="ocorrencia" aria-selected="false">Ocorrência</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="recurso-tab" data-toggle="tab" href="#recurso" role="tab" aria-controls="recurso" aria-selected="false">Recurso</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="false">Status</a>
			</li>
		</ul>

		<div class="tab-content border-bottom border-left border-right" id="myTabContent">
			<!-- Acao -->
			<div class="tab-pane fade show active" id="acao" role="tabpanel" aria-labelledby="acao-tab">
				<form role="form" class="container">
					<input type='hidden' name='idacao'>
					<div>
						<label>Operação</label>
						<select class='form-control selectpicker' id='idoperacao' name='idoperacao' data-live-search='true' required></select>	
					</div>	
					<div>
						<label for='nome_acao'>Nome da Ação</label>
						<input class='form-control' type='text' id='nome_acao' name='nome_acao' placeholder='Digite o nome da operacao' required>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label for='dt_inicio'>Data de Início</label>
							<input class='form-control' type='date' id='dt_inicio' name='dt_inicio' required>
						</div>
						<div class="col-sm-6">
							<label for='dt_termino'>Data de Término</label>
							<input class='form-control' type='date' id='dt_termino' name='dt_termino' required>	
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label for='hr_inicio'>Hora de Início</label>
							<input class='form-control' type='time' id='hr_inicio' name='hr_inicio' required>
						</div>
						<div class="col-sm-6">
							<label for='hr_termino'>Hora de Término</label>
							<input class='form-control' type='time' id='hr_termino' name='hr_termino' required>
						</div>
					</div>
					<br>
					<!-- Latitude e Longitude --> 
					<div id = "map" style="width: 100%; height: 400px"></div>
					<br>
					<div class="row">
						<div class="col-sm-6">
							<label>Latitude</label>
							<input class='form-control' id='lat' name='lat' readonly required>
						</div>
						<div class="col-sm-6">
							<label>Longitude</label>
							<input class='form-control' id='lng' name='lng' readonly required>
						</div>
					</div>
					
					<div>
						<label>Status da Ação</label>
						<div id="div-status">
							<select class='form-control selectpicker' id='status' name='status' data-live-search='true'></select>
						</div>	
					</div>
				</form>
			</div>

			<!-- Indicador -->
			<div class="tab-pane fade container" id="indicador" role="tabpanel" aria-labelledby="indicador-tab"></div>

			<!-- Indicador -->
			<div class="tab-pane fade container" id="instituicao" role="tabpanel" aria-labelledby="indicador-tab"></div>

			<!-- Ocorrencia -->
			<div class="tab-pane fade container" id="ocorrencia" role="tabpanel" aria-labelledby="ocorrencia-tab"></div>

			<!-- Recurso -->
			<div class="tab-pane fade container" id="recurso" role="tabpanel" aria-labelledby="recurso-tab"></div>

			<!-- Status -->
			<div class="tab-pane fade container" id="status" role="tabpanel" aria-labelledby="status-tab"></div>
		</div>
	</div>
<div class="modal-footer">
	<button class='btn btn-success' type='submit'>Salvar</button>
</div>

<script src='js/cadastrar-acoes-form.js'></script>