<form role="form">
	<div class="modal-header">
		<h4 class='modal-title'></h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">&times;</button>
	</div>
	<div class="modal-body">
		<input type='hidden' name='idinstituicao'>
		<div class='form-group'>
			<label for='nome_operacao'>Nova Instituição</label>
			<input class='form-control' type='text' id='instituicao' name='instituicao' placeholder='Digite o nome da Instituição' required>
		</div>
	</div>
	<div class="modal-footer">
		<button class='btn btn-success' type='submit'>Salvar</button>
	</div>
</form>
<script src='js/cadastrar-instituicao-form.js'></script>