<div class="text-center text-md-left">
	<div class="row">
		<div class="col-sm-3 border-footer">
			<h4>Navegação</h4>
			<ul class="list-unstyled">
				<li>
					<a href="#" class="hvr-float-shadow" id="cardapio-main">Cardápio</a>
				</li>
				<li>
					<a href="#" class="hvr-float-shadow" id="refeicao">Refeições</a>
				</li>
				<li>
					<a href="#" class="hvr-float-shadow" id="lanche">Lanches</a>
				</li>
				<li>
					<a href="#" class="hvr-float-shadow" id="sobremesa">Sobremesas</a>
				</li>
				<li>
					<a href="#" class="hvr-float-shadow" id="promocao">Promoções</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-3 border-footer">
			<h4>Contatos</h4>
			<ul class="list-unstyled">
				<li>(##) ####-####</li>
				<li>(##) ####-####</li>
			</ul>
		</div>
		<div class="col-sm-3 border-footer">
			<h4>Endereço</h4>
			<ul class="list-unstyled">
				<li>
					<a href="#" data-toggle="modal" id="end" data-target="#modal" class="hvr-wobble-to-top-right">
						RUA #########, ###, ##########, BELÉM/PA, CEP: ##.###-###.
					</a>
				</li>				
			</ul>
		</div>
		<div class="col-sm-3 border-footer">
			<h4>Redes Sociais</h4>
			<a href="https://www.facebook.com/henrick.nogueira" class="btn btn-block btn-social btn-facebook">
	    		<span class="fa fa-facebook"></span>Curta no Facebook
	       	</a>
	       	<a href="https://www.instagram.com/nogueira_henrick" class="btn btn-block btn-social btn-instagram">
		    	<span class="fa fa-instagram"></span>Siga no Instagram
		   	</a>
		   	<a href="https://www.instagram.com/nogueira_henrick" class="btn btn-block btn-social btn-success">
		    	<span class="fa fa-whatsapp"></span>Chame no Whatsapp
		   	</a>
		</div>
	</div>	
</div>
<!-- Copyright -->
<div class="text-center footer-bottom">
	© 2020 Copyright: Restaurante
</div>
<!-- Copyright -->
<script type="text/javascript" src="js/nav.js"></script>