<div class="hvr-grow">
	<img src="img/logonav.png">
	<a class="navbar-brand" href="cardapio.html">Restaurante</a>
</div>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbars">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="#" id="refeicao">Refeições</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="#" id="lanche">Lanches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="#" id="sobremesa">Sobremesas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="#" id="promocao">Promoções</a>
      </li>
    </ul>

	<span id="user" class="text-light font-weight-bold">
		<ul class="navbar-nav mr-auto">
			<li class="nav-link">
				<!-- Whatsapp -->
				<a href="https://api.whatsapp.com/send?phone=5521971703956&amp;text=Ol%C3%A1%20LTR%2C%20visitei%20o%20seu%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es!" class="mr-sm-4 hvr-grow-shadow" onclick="true" data-id="link-externo" target="_blank">
					<img src="https://emprezaz.com/galerias/d282ef263719ab842e05382dc235f69e/1291/1a9930cb307e7370d8e419563c2278c5.png" style="">
				</a>		
			</li>
			<li class="nav-link">
				<!-- Instagram -->
				<a href="https://www.instagram.com/ltrengenhariaeservicos/?hl=pt-br" onclick="true" class="mr-sm-4 hvr-grow-shadow" data-id="link-externo" target="_blank">
					<img src="https://emprezaz.com/galerias/d282ef263719ab842e05382dc235f69e/1291/73d9cd398553c05a9a74d6a0f783e973.png" style="">
				</a>		
			</li>
			<li class="nav-link">
				<a href="https://www.facebook.com/litter.litter.56" onclick="true" data-id="link-externo" class="mr-sm-4 hvr-grow-shadow" target="_blank">
					<img src="https://emprezaz.com/galerias/d282ef263719ab842e05382dc235f69e/1291/d71ca94289919b5fde2dc27e4c2611e2.png" style="">
				</a>		
			</li>	
		</ul>
	</span>
</div>
<script type="text/javascript" src="js/nav.js"></script>