			<div class="starter">
				<h1>Registros de Atendimentos Técnicos</h1>
				<hr>				
				<div class="row">

					<div class="col-sm-9">
						<canvas class="charts-1"></canvas>
					</div>
					<div class="col-sm-3">
						<div class="text-center text-light" style='background: red'>
							<b>Em aberto</b>
							<h2 class="s_aberto">0</h2>
						</div>
						<div class="text-center text-light" style='background: green'>
							<b>Em atendimento</b>
							<h2 class="s_aguardando">0</h2>
						</div>
						<div class="text-center text-light" style='background: blue'>
							<b>Finalizado</b>
							<h2 class="s_finalizado">0</h2>
						</div>
						<div class=" text-center text-light" style='background: gray'>
							<b>Total</b>
							<h2 class="s_total">0</h2>
						</div>
					</div>
				</div>
			</div>
			<br>
