<div class='info'>
	<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">&times;</button>
	<h4>Dicas para fazer uma denúncia</h4>
	<hr>
	<p>Ao exibir o mapa, o "icone" (<img src="https://unpkg.com/leaflet@1.6.0/dist/images/marker-icon.png" style="height: 25px">) aparecerá no endereço as proximidades onde você se encontra. Se não for local denunciado, clique na "lupa" e digite o nome do lugar ou endereço que deseja denunciar. Se nada for encontrado, procure por um endereço próximo.</p>
	<p>Você também pode arrastar o "icone" para o local denunciado, que será exibido o endereço.</p>
	<p>Relate sua denuncia dentro da caixa indicada "Escreva aqui...".</p>
	<p>Não esqueça de informar o nome ou apelido do denunciado e suas características física, como: compleição (magro, gordo, forte, fraco), estatura, cor da pele e tatuagens.</p>
	<p>Também informe qual o delito e como está sendo comentido, e se possuem armas de fogo, drogas, veiculos ou pessoas apreendidas.</p>
	<p class='text-right'><b>Sua ajuda é muito importante. DENUNCIE!!!</p>
</div>