<form role="form">
	<div class="modal-header bg-success">
		<h4 class='modal-title'></h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">&times;</button>
	</div>
	<div class="modal-body">
		<input type='hidden' name='idusuario'>
		<div class="row">
			<div class="col-sm-6">
				<label for='nome'>Nome</label>
				<input class='form-control' type='text' id='nome' name='nome' placeholder='Digite o nome completo do usuário' required>
			</div>
			<div class="col-sm-6">
				<label for='email'>E-mail</label>
				<input class='form-control' type='email' id='email' name='email' placeholder='Digite o e-mail do usuário' required>	
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label for='contato'>Contato</label>
				<input class='form-control' type='text' id='contato' name='contato' placeholder='Digite o contato do usuário' required>
			</div>
			<div class="col-sm-6">
				<label for='permissao'>Permissões</label>
				<select class='form-control selectpicker' name='permissao[]' data-live-search='false' data-actions-box='true' required multiple></select>			
			</div>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" id="ativado" name='ativado'>
		  <label class="form-check-label" for="ativado">Ativado</label>
		</div>
	</div>
	<div class="modal-footer">
		<button class='btn btn-success' type='submit'>Salvar</button>
		<button class='btn btn-danger' type='button' id='btn-excluir'>Excluir</button>
		<button class='btn btn-primary' type='button' id='btn-renovar-senha'>Renovar senha</button>		
	</div>
</form>

<script src='js/usuario-form.js'></script>